* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: black;

    background-size: cover;
    background-position: center;

    transition: background-image .8s ease-in-out;
}

.card {
    width: 320px;

    text-align: center;

    padding: 20px;

    border-radius: 15px;

    backdrop-filter: blur(10px);

    background: rgba(0,0,0,.4);

    color: white;
}

.profile {
    width: 120px;
    height: 120px;

    border-radius: 50%;

    object-fit: cover;

    margin-bottom: 15px;
}

.btn {
    display: block;

    margin-top: 12px;

    padding: 12px;

    border-radius: 10px;

    text-decoration: none;

    color: white;

    background: rgba(255,255,255,.15);
}
