* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: black;

    background-size: cover;
    background-position: center;

    transition: background-image .8s ease-in-out;
}

.card {
    width: 320px;

    text-align: center;

    color: white;
}

.profile {
    width: 120px;
    height: 120px;

    border-radius: 50%;

    object-fit: cover;

    margin-bottom: 15px;
}

.btn {
    display: block;

    margin-top: 12px;

    padding: 12px;

    border: 1px solid rgba(255,255,255,.6);

    border-radius: 10px;

    text-decoration: none;

    color: white;

    background: transparent;
}

.wa-icon {
    color: #25D366;
    margin-right: 8px;
}

.tg-icon {
    color: #229ED9;
    margin-right: 8px;
}

.btn {
    background: rgba(255,255,255,.08);
    border: 1px solid rgba(255,255,255,.3);
    backdrop-filter: blur(10px);
}

.btn:hover {
    transform: scale(1.03);
    transition: 0.3s;
}
